.switch {
  width: fit-content;
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(181, 53, 53);
}

.colorBox {
  border: 3px solid black;
  background-color: white;
  width: 200px;
  height: 200px;
  position: sticky;
  margin: auto;
  margin-top: 10%;
}
.colorForm {
  margin-top: 30px;
  height: 30px;
  
  }
.App {
  position: relative;
  text-align: center;
}
.name {
  padding: 70px 0;
  text-align: center;
}
